# Project exclude paths
/.gradle/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 1/build/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 1/build/classes/java/main/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 1/out/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 2/build/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 2/build/classes/java/main/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 2/out/